@import 'variables';
@import 'utilities';

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    font-family:'Raleway', sans-serif;
    line-height:1.5;
}
img{
    width:100%;
}
a{text-decoration:none;
}
ul{
    list-style:none
}
#showcase{
    background:#11999e;
height:90vh;
}
.current{
    border-bottom:3px solid $main-color;
}
.highlight{
    color:$main-color;
}
//Main nav styling
.main-nav{
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding-top:10px;
    .logo{
        text-align:center;
        h1{
            color:#fff;
            font-weight:bold;
            font-size:2.7rem;

        }
    p{
        font-weight:bold;
      letter-spacing:12px;
      font-size:18px;

    }
    }
#menu{
    display:flex;
    li, .fas{
        margin:0 1rem;
    }
    .fas{
        padding:5px;
        transition:.5s ease-in-out;
        &:hover{
            color:$hover-color;
            cursor:pointer;
        }
    }
    a{
        color:#fff;
        font-size:18px;
        padding-bottom:10px;
        border-bottom:3px solid transparent;
        transition:all 0.5s ease-in-out;
        
        &:hover{
            border-color:$hover-color;
        }
        &.current{
            border-color:$main-color;
        }
    }
}

}
.header-content{
  display:flex;
  min-height:300px;
  margin-top:30px;
  align-items:center;
  justify-content:center;
    img{
        width:300px;
        margin-right:50px;
    }
    .header-text h1 { 
    &:first-child{
        font-weight:bold;
     }
     &:nth-child(2){
         font-size:50px;
     }
     }
     .highlight{
         color:#fff;
         font-size:65px;
         font-weight:bold;
 }
 .header-text a:last-child{
     color:#000;
     font-size:18px;
text-decoration:underline;
     margin-left:20px;
     font-weight:bold;
     transition:all .4s ease-in-out;
     &:hover{
         color:$second-color;
     }
 }
}
.boxes-grid{
display:grid;
grid-template-columns:repeat(3, 1fr);
justify-items:center;
grid-gap:1rem;
position:relative;
top:-50px;
.box{
    text-align:center;
    padding:1rem;
    border-bottom:5px solid transparent;
    background-color:#fff;
    transition:all 0.5s ease-in-out;
    box-shadow:1px 1px 1px 1px #ddd;
    
    &:hover{
       border-color:$box-color;
       transition:all .5s ease-in-out;
       cursor:pointer;
   }
   
    .fas{
        color:#3498db;
    }
}
}
#home-c{
 
.gallery-grid{
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  text-align:center;
  grid-gap:1rem;
.box{
    display:grid;
   grid-template-columns:1fr 1fr;
    background-color:$box-color;
    color:#fff;
    .box-content{
        display:flex;
        flex-direction:column;
        justify-content:center;
padding:1rem;
.arrow{
    transition:all 0.5s ease-in-out;
    opacity:0;
    margin-top:20px;
    cursor:pointer;

}
a{
    color:#333;
}
&:hover .arrow{ 
    opacity:1;
}
h1{
    font-size:2rem;
    font-weight:bold;
    transition:all 0.4s ease-in-out;
}
p{
    transition:all 0.4s ease-in-out;
}    
}
}
}
.gallery-grid .box:first-child{
 grid-column:1/span 2;
}
.gallery-grid .box:last-child{
grid-column:2/span 2;
}
}
//Icons grid
#home-d{
    .icons-grid{
        display:grid;
        grid-template-columns:repeat(4, 1fr);
        text-align:center;
        .feauture{
            .fas{
                color:$second-color;
                padding:1rem;
                cursor:pointer;
                transition:all .5s ease-in-out;
            &:hover{
              transform:scale(1.4);
              color:darken($second-color, 30%);
            }
            }
       h1{
           font-size:1.2rem;
       }
        }
    }
}
#home-e{
    background-color:#ecf0f1;
}
.row{
    display:flex;
    width:100%;
}
.column{
   display:flex;
   flex-direction:column;
   flex-basis:100%;
   flex:1;
    .column-1,.column-2{
        height:100%;
    }
    .column-2 img{
        height:100%;
    }
    .column-1{
        display:flex;
        flex-direction:column;
        padding:0 2rem;
        justify-content:center;
        text-align:center;
        background:$box-color;
        h1{
            font-family:'Roboto Condensed';
            margin-bottom:1rem;
            color:#fff;
            font-size:2rem;
            font-weight:bold;
        }
        p{
            color:#fff;
        }
        .fas{
            padding:0 1rem;
        }
    }
}
#home-f{
    margin-top:60px;
    color:#fff;
    background-color:#16a085;
    padding:2rem;
    .feautures-grid{
        display:grid;
        grid-template-columns:repeat(4, 1fr);
        text-align:center;

        .box{
            border-right:1px solid #ddd;
            padding:3rem;
        h1{font-size:2.5rem;
        color:#000;}
        p{font-size:17px;}
        }
    }
.feautures-grid div:last-child{
    border:none;
}
}
#main-footer{
   background:#333;
   color:#fff;
    .footer-grid{
        display:grid;
        grid-template-columns:repeat(3, 1fr);
        padding:2rem;
        grid-gap:1rem;
.footer-logo{
    margin-bottom:18px;
    h1{color:white;}
    p{font-weight:bold;
    letter-spacing:12px;
font-size:18px;
color:#000;
}
}
& div:first-child{ 

    padding:0.5rem;
}
& div:nth-child(2){
    padding:0.5rem;
    h1{
    text-align:center;
    font-family:'Roboto Condensed';
    }
    li{
        border-bottom:1px dotted #ddd;
        padding:0.5rem;
        cursor:pointer;
    }
}
.email{
   padding:0.5rem;
    h1{
        text-align:center;
        font-family:'Roboto Condensed';
    margin-bottom:10px;
    }
    p{
        padding-bottom:0.5rem;
    }
input[type='email']{
width:100%;
padding:0.6rem;
margin-bottom:1rem;
}
form{
    display:flex;
    flex-direction:column;
}

}
.copyright{
    grid-column:1/span 3;
    padding:1rem;
    background-color:#444;
    text-align:center;
    font-size:14px;
}
}
}

//About Page

//Inner Nav styling
#showcase-inner{ 
    background-color:#333;
    padding:0;
    border-bottom:3px solid $main-color;
    position:sticky;
    top:0;
    width:100%;
    left:0;
    padding:0.2rem 0;
    z-index:10;
    .main-nav{ 
        padding:0;
        height:100%;
      #menu{
          .fas{
              color:$main-color;
              &:hover{
                  color:$hover-color;
              }
          }
      }
    }
}
//About-sections

#about{

    &-a{
        .about-box{
            display:grid;
          background-color:#333;
          grid-template-columns:repeat(3, 1fr);
          .me-box-content{
grid-column-start:2;
grid-column-end:4;
text-align:center;
padding-top:30px;
color:#fff;
h1{
    font-size:2rem;
    margin-bottom:20px;
}
a{
    margin-top:25px;
}          
}
        }
    }
&-b{
   background-color:#ddd;
   padding:3rem 1rem;
    .team-grid{
        display:grid;
        grid-template-columns:repeat(3,1fr);
        grid-gap:1rem;
    padding:1rem;
   
   .team-box{
       background-color:#222831;
       padding:1rem;
       border-radius:20px;
   }
   img{
       border-radius:20px;
   }
    .box-content{
border-radius:20px;
       padding:1rem;
       background-color:#00adb5;
       margin-top:10px;
       color:#fff;

       
   }
    h3{
        text-align:center;
        color:#333;
    }
    }
}
&-c{ 
  background:#a6e3e9;
    .card{ 
        display:grid;
        grid-template-columns:300px;
        grid-template-rows:210px 210px 80px;
        text-align:center;
        width:300px;
        justify-self:center;
        transition:all 0.5s ease-in-out;
        cursor:pointer;
        
        &:hover{
            transform:scale(1.1);
            position:relative;
        z-index:1;
        }


   &-image{
       border-top-left-radius:15px;
       border-top-right-radius:15px;
   }
   &-text{
    background-color:#fff; 
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:0 1rem; 
     
       .card-highlight{
           color:rgb(255,7,110);
           font-weight:bold;
           font-size:13px;
        margin:15 0px;

       }
   }
   &-stats{
       display:grid;
       grid-template-columns:repeat(3, 1fr);
       background-color:rgb(255,7,110);
       border-bottom-right-radius:15px;
       border-bottom-left-radius:15px;
    .stat{
        font-size:14px;
        display:flex;
        flex-direction:column;
        justify-content:center;
        color:#fff;
   }

    }
    
}
.card-grid{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    justify-content:space-around;
}
}
&-d{
padding:4rem;
background-color:#364f6b;
color:#fc5185;
h1{
    font-size:50px;
    text-align:center;
}
} 
} 
 //Second card bg
 .card-2 .card-image{
background:url('../img/card-grid/img3.jpeg') no-repeat center center/cover;
 }
 .card-1 .card-image{
     background:url('../img/card-grid/img1.jpeg') no-repeat center center/cover;
 }
.card-3 .card-image{
    background:url('../img/card-grid/img3.jpeg');
}
#contact{
    background-color:#364f6b;
    h1{
        color:#fc5185;
        font-size:90px;
        margin-bottom:20px;
    }
    p{
        color:#fff;
        font-size:50px;
        font-weight:bold;

    }
#contact-form{
    display:flex;
    flex-direction:column;
    padding:1.5rem 0;
    input, textarea{
        padding:1rem;
        background-color:rgba(0,0,0,0.2);
        border:none;
        &:focus{
            outline:none;
        }
    }
    label{
        font-size:20px;
        color:#fff;
        padding:1rem;
    }
}
}
#projects{ 
    .work-grid{
        display:grid;
        grid-template-columns:repeat(4, 1fr);
        .work-card{
        position:relative;
        overflow:hidden;
    cursor:pointer;    
    }
        .card-text{
            position:absolute;
            top:50%;
            right:50%;
            transform:translate(50%, -50%);
            opacity:0;
            pointer-events:none;
z-index:2;
transition:all 0.5s ease-in-out;
        }

    }
    .work-card:after{
        content:'';
        position:absolute;
        width:100%;
        height:100%;
        left:0;
        top:0;
        background-color:rgba(255,7,110,0.9);
    transform: scale(2) rotate(20deg) translate(-75%, -75%);
    transition:all 0.5s ease-in-out;
    }
    .work-card:hover:after{
        transform:translateY(0) rotate(20deg) scale(2);
    }
    .work-card:hover .card-text{
        opacity:1;

    }
}

#animated-cards{  
margin-top:10px;   
.customers-grid{
        display:grid;
        grid-template-columns:1fr 1fr;
        grid-gap:1rem;
        font-family:courier;
        img{
            width:400px;
            justify-self:center;
            align-self:center;
        }
    }
    .cards-grid{
        display:grid;
        grid-template-columns:1fr 1fr;
        grid-gap:2rem;
        .card{
        }
        .face{
            width:300px;
            height:200px;
        }
        .face-1{
            background-color:#333;
            color:#fff;
            transform:translateY(100px);
            position:relative;
            z-index:2;
            transition:all 0.5s ease-in-out;
            cursor:pointer;
            .fas{
                padding:10px;
            }
            &:hover{
                transform:translateY(0);
                background-color:#fc5185;
            }
            &:hover + div{
                transform:translateY(0);
                background-color:#ddd;
            }
        }
        .face-1-content{
            display:flex;
            flex-direction:column;
            align-items:center;
            height:100%;
            justify-content:center;
        }
        .face-2{ 
            padding:1rem;
            transform:translateY(-100px);
            background-color:#fff;
            transition:all 0.5s ease-in-out;
        overflow:hidden;
        }
    }
}